<!DOCTYPE html>
<html>
<head>
  <title>EmmetFontAwesome</title>
  <%= stylesheet_link_tag    "emmet_font_awesome/application", media: "all" %>
  <%= javascript_include_tag "emmet_font_awesome/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
